# Add all of the environmental variables here instead of 
# embedding them directly in the app and utilize them 
# with the `DotEnv` package.

PORT=<YOUR_PORT>

# MySQL variables

MYSQL_HOST=<YOUR_MYSQL_HOST>
MYSQL_USER=<YOUR_MYSQL_USER>
DATABASE_PORT=<YOUR_DATABASE_PORT>
MYSQL_PASSWORD=<YOUR_MYSQL_PASSWORD>
MYSQL_DATABASE=<YOUR_MYSQL_DATABASE>

# JWT variables

JWT_SECRET=<YOUR_JWT_SECRET>
JWT_EXPIRES_IN=<YOUR_JWT_EXPIRES_IN>